body {
 font-family: "Helvetica Neue", sans-serif;
 background:#ddd;
}

h1 {
  font-size:120%;
}

h2 {
  font-size:110%;
}

code {
  color: darkred;
  font-family: Consolas, Inconsolata, "Andale Mono", Monaco
}

table {
  background-color:white;
  border-collapse:collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.2em 0.5em;
}
td p {
  margin:0;
}
