@()

@main("Submission") {

  <p>A minimal web application to persist HTML form submissions.</p>

  <p>Use any HTML form to submit data to this URL using a POST request. Use the <a href="@routes.Application.recent">recent entries
    page</a> to view the last few results, or <a href="@routes.Application.export">export all entries as JSON</a>.</p>

  <h2>Demo</h2>

  <form method="post" action="/">
    <p>Submit without redirect: <code>&lt;form method="post" action="/"&gt;</code></p>

    <p>
      <select name="age">
        <option>under 18</option>
        <option selected>18-30</option>
        <option>30+</option>
      </select>
      <select name="sex">
        <option>male</option>
        <option>female</option>
      </select>
      <input name="location" value="Rotterdam">
      <button type="submit">Post</button>
    </p>
  </form>

  <form method="post" action="/?redirect=http%3A%2F%2Fexample.com%2Fthank-you">
    <p>Submit with redirect: <code>&lt;form method="post" action="/?redirect=http%3A%2F%2Fexample.com%2Fthank-you"&gt;</code></p>

    <p>
      <select name="age">
        <option>under 18</option>
        <option>18-30</option>
        <option selected>30+</option>
      </select>
      <input name="name" value="Peter">
      <input name="cocktail" value="Margarita">
      <input name="cocktail" value="Caipirinha">
      <button type="submit">Post</button>
    </p>
  </form>
}