@(submissions: Iterable[Map[String,Seq[String]]], columns: Iterable[String])
<!DOCTYPE html>
<html>
<head>
<title>Submission</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>

<h1>Test form</h1>

<form method="post" action="/">
    <p>
        <select name="age"><option>under 18</option><option selected>18-30</option><option>30+</option></select>
        <select name="sex"><option>male</option><option>female</option></select>
        <input name="location" value="Rotterdam">
        <button type="submit">Post</button>
    </p>
</form>

<form method="post" action="/?redirect=http%3A%2F%2Fexample.com%2Fthank-you">
    <p>
        <select name="age"><option>under 18</option><option>18-30</option><option selected>30+</option></select>
        <input name="name" value="Peter">
        <input name="cocktail" value="Margarita">
        <input name="cocktail" value="Caipirinha">
        <button type="submit">Post</button>
    </p>
</form>

<h1>Previous submissions</h1>

<table>
<tr>
    @for(column <- columns) {
        <th>@column</th>
    }
</tr>
@for(form <- submissions) {
    <tr>
    @for(column <- columns) {
        <td>
        @for(value <- form.get(column)) {
            <p>@value</p>
        }
        </td>
    }
    </tr>
}

</table>

</body>
</html>
